<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<link rel="icon" href="images/ico/favicon.png" type="image/png">
	<title>Painel</title>
</head>

<body class="no-skin" style="background-color: white;">

	<div class="widget-box ">
		<div class="widget-header widget-header-large">
			<div class="pull-left" style="position: fixed; top: 0; left: 0;">
				<img height="150" id="imgLogoGestor" style="cursor: pointer;">
			</div>
			<div class="widget-toolbar" style="position: absolute; text-align: center; width: 90%;">
				<h3 class="widget-title" style="text-align: center; font-size: 2.5em">
					<p id="mensagemExibida"></p>
				</h3>
			</div>
		</div>
	</div>
		
	<div class="main-body-panel">
		<div class="widget-bo ">
		
			<div id="painelAtendimento" class="widget-body" style="text-align: center">
			</div>
		</div>
		
	</div>
	
	<div style="position: fixed; bottom: 0px; width: 100%; background-color: white;" class="widget-box ">
		<div class="widget-body">
			<div class="widget-toolbox  clearfix">
				<button class="btn btn btn-white btn-default  pull-left">
					<h4>
						<i class="fa fa-calendar"></i>
						<span class="bigger-110" id="dataAtual"></span>
					</h4>
				</button>
				<button class="btn btn btn-white btn-default  pull-right">
					<h4>
						<i class="fa fa-clock-o"></i>
						<span class="bigger-110" id="horaAtual"></span>
					</h4>
				</button>
			</div>
		</div>
	</div>
	
</body>
</html>

