<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<link rel="icon" href="images/ico/favicon.png" type="image/png">
	<title>Perfil Aluno</title>
</head>

<body>

<div class="page-content">
	
	<div class="page-header">
		<h1 id="nomeAluno"></h1>
	</div>
	
	<div class="widget-box">
		<div class="widget-header widget-header-flat widget-header-small">
			<h4 class="widget-title">
				<i class="ace-icon fa fa-desktop"></i>
				Medalhas
			</h4>
			<div class="widget-toolbar no-border"></div>
		</div>
		<div class="widget-body">
		</div>
	</div>
		
	<div class="main-content">
		<div class="row">
			<div class="col-xs-5">
				<h3 class="header smaller lighter blue">Disciplinas Cadastradas</h3>
				<div class="divTableDisciplinaCadastrada" id="disciplinaCadastradaDiv" >
					<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
						<div id="messages_div_disciplina_cadastrada"></div>
						<div id="grid_disciplina_cadastrada" class="table-responsive"></div>
						<div class="">
							<div id="counter_disciplina_cadastrada" class=" pull-left"></div>
							<div id="paginator_disciplina_cadastrada" class="pull-right"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-5">
				<h3 class="header smaller lighter blue">Disciplinas Não Cadastradas</h3>
				<div class="divTableDisciplinaNaoCadastrada" id="disciplinaNaoCadastradaDiv" >
					<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
						<div id="messages_div_disciplina_nao_cadastrada"></div>
						<div id="grid_disciplina_nao_cadastrada" class="table-responsive"></div>
						<div class="">
							<div id="counter_disciplina_nao_cadastrada" class=" pull-left"></div>
							<div id="paginator_disciplina_nao_cadastrada" class="pull-right"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>

</body>