<!-- generated: 23/08/2016 08:32:11 -->
<!-- Aluno´s form -->
<div class="main-content-inner">
	<div class="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li>
				<i class="ace-icon fa fa-home home-icon"></i>
				<a href="#">Home</a>
			</li>
			<li class="active">Cadastrar Aluno</li>
		</ul>
	</div>
	<div class="page-content">
		<div class="page-header">
			<h1>Cadastrar Aluno</h1>
		</div>
		<div class="main-principal">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div id="messages_div"></div>
				</div>
			</div>
			<div class="hr-24"></div>
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="panel panel-default plain profile-widget">
						<!-- Start .panel -->
						<div class="panel-body">
							<form role="form" id="formAluno">
								<input type="hidden" id="inputId" value="{{id}}">
								<input type="hidden" id="inputLevel" value="{{level}}">
								<input type="hidden" id="inputPontos" value="{{pontos}}">
								<input type="hidden" id="inputProximoLevel" value="{{proximoLevel}}">
								<div id="groupInputNome" class="form-group">
									<label class="control-label" for="inputNome">Nome  *</label>
									<input type="text" id="inputNome" placeholder="Nome" value="{{nome}}" class="form-control  validate[required]">
								</div>
								<div id="groupInputUsuarioContainer" class="form-group">
									<label class="control-label" for="inputUsuario">Usuario</label>
									<div id="groupInputUsuario" class="input-group">
										<input id="inputUsuarioId" type="hidden" class="form-control append-left" value="{{usuario && usuario.id}}" />
										<input id="inputUsuarioNome" placeholder="Escolha um Usuario"  readonly="readonly" type="text" class="form-control append-left validate[required]" value="{{usuario && usuario.name}}" />
										<div class="input-group-addon append-right" id="searchUsuarioModal" data-toggle="modal">
											<span class="fa fa-search"></span>
										</div>
									</div>
								</div>		
							</form>
						</div>
						<div class="clearfix form-actions">
							<a href="javascript:void(0)" id="save"  class="save btn btn-primary">
								<i class="ace-icon save fa fa-check bigger-110"></i>
								Salvar
							</a>
							&nbsp; &nbsp; &nbsp;
							<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display: {{ id ? 'none' : 'inline-block' }} ">
								<i class="ace-icon fa fa-check bigger-110"></i>
								Salvar e Continuar
							</a>
							&nbsp; &nbsp; &nbsp;
							<a class="go-back-link btn btn-light" href="#app/alunos">
								<i class="ace-icon fa fa-undo bigger-110"></i>
								Voltar para a listagem
							</a>
							<a href="javascript:void(0)" id="linkPerfilAluno" class="save btn btn-primary" target="_blank" > 
								<i class="ace-icon fa fa-check bigger-110"></i> Perfil Aluno
							</a> &nbsp; &nbsp; &nbsp;
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id='usuarioModal'></div>
