<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<link rel="icon" href="images/ico/favicon.png" type="image/png">
	<title>Perfil Professor</title>
</head>

<body>

<div class="page-content">
	
	<div class="page-header">
		<h1 id="nomeProfessor"></h1>
	</div>
	
	<div class="main-content">
		<form role="form" id="formPerfilProfessor">
			
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="form-group col-sm-6">
						
						<h3 class="header smaller lighter blue">Disciplinas</h3>
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div_disciplina"></div>
							<div id="grid_disciplina" class="table-responsive"></div>
							<div class="">
								<div id="counter_disciplina" class=" pull-left"></div>
								<div id="paginator_disciplina" class="pull-right"></div>
							</div>
						</div>
						<br>
						<h3 class="header smaller lighter blue">Ranking Geral</h3>
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div_ranking_geral"></div>
							<div id="grid_ranking_geral" class="table-responsive"></div>
							<div class="">
								<div id="counter_ranking_geral" class=" pull-left"></div>
								<div id="paginator_ranking_geral" class="pull-right"></div>
							</div>
						</div>
						
					</div>
				
				</div>
				
			</div>
			
		</form>
	</div>
</div>


</body>